<div class="px1"></div>
<!-- Main Tag -->
<div id="main">
  <div id="inner">
    
    <!-- Logo and banner -->
    <div class="top1 clearfix">
      <header>
        <div class="logo_wrapper">
          <a href="#" class="logo">
            <%= image_tag("logo.png") %>
          </a>
        </div>
      </header>
      <div class="star1"></div>
    </div>

    <!-- Sliding static image -->
    <div class="top2_wrapper">
      <div class="container">
        <div class="row">
          <div class="span12">

            <div class="top2 clearfix">

              <!-- Header links -->
              <div class="menu_wrapper">
                <div class="navbar navbar_">
                  <div class="navbar-inner navbar-inner_">
                    <div class="nav-collapse nav-collapse_ collapse">
                      <ul class="nav sf-menu clearfix">

                        <li><a href="#">Home Page</a></li>
                        <li class="active"><a href="#">About Us</a></li>
                        <li><a href="#">Lessons</a></li>
                        <li><a href="#">Teachers</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Music</a></li>
                        <li><a href="#">Contacts</a></li>

                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Static Page image slide -->
              <div class="page_slide">
                <%= image_tag("page_slide1.jpg", class: "img")%>
                <h1>About Us</h1>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Main Content -->
    <div id="content">
      <div class="container">
        <div class="row">
          <div class="span12">
            
            <div class="page_shadow1">
              <%= image_tag("page_shadow1.png", class: "img")%>
            </div>

            <div class="content_wrapper">
              
              <!-- Content Latest news-->
              <div class="row">
                <div class="span8">
                  <h2>Welcome</h2>
                  <div class="thumb2">
                    <div class="thumbnail clearfix">
                       <figure class="img-polaroid">
                         <%= image_tag("about01.jpg")%>
                       </figure>
                       <div class="caption">
                        <h3>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor.</h3>
                        <p>                 Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetuer adipiscing elit. Nunc suscipit. Suspendisse enim arcu, convallis non, cursus sed, dignissim et, est. Aenean semper aliquet libero.</p>
                        <a class="button1" href="#">Read more</a>
                       </div>
                    </div>
                  </div>
                </div>
                <div class="span4">
                  
                  <h2>Latest News</h2>
                  <div class="date1 clearfix">
                    <div class="txt1">24</div>
                    <div class="txt2">January</div>
                  </div>
                  
                  <h3><a href="#">Suspendisse enim arcu</a></h3>
                  <p>   Mauris scelerisque augue eu felis. Nunc quam massa, mattis quis, hendrerit sed, mattis eu, est. Vivamus pretium metus ut nisl.</p>
                  <br>
                  <div class="date1 clearfix">
                    <div class="txt1">12</div>
                    <div class="txt2">November</div>
                  </div>
                  
                  <h3><a href="#">Aenean semper aliquet</a></h3>
                  <p>Nullam aliquet mauris eu neque. Quisque consequat. Vestibulum hendrerit velit et est. Curabitur iaculis egestas orci. </p>
                </div>

                </div>
              </div>

              
              <!-- Staff Details Pending develop by disabling js on browser-->
              <h2>Our Staff</h2>
              <div class="slider3">
                <a class="prev3" href="#" style="display: block;"></a>
                <div class="carousel-box row">
                  <div class="inner span12">
                    <div class="carousel main">
                    </div>
                  </div>
                </div>
              </div>

              <div class="slider3">
              </div>
              <h2>Testimonials</h2>

              <div class="row">
                <div class="span4">
                  <div class="testimonial1">
                    <div class="txt1">
                            Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco...  
                    </div>
                    <div class="txt2">
                      <span>Alex Williams</span>
                      <br>
                      <a href="#">http://demolink.org</a>
                    </div>
                  </div>
                </div>

                <div class="span4">
                  <div class="testimonial1">
                    <div class="txt1">
                            Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco...  
                    </div>
                    <div class="txt2">
                      <span>Alex Williams</span>
                      <br>
                      <a href="#">http://demolink.org</a>
                    </div>
                  </div>
                </div>

                <div class="span4">
                  <div class="testimonial1">
                    <div class="txt1">
                            Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco...  
                    </div>
                    <div class="txt2">
                      <span>Alex Williams</span>
                      <br>
                      <a href="#">http://demolink.org</a>
                    </div>
                  </div>
                </div>

              </div>
              
              <div class="hl2 hl2_2">
                <div class="container">
                  <div class="row">
                    <div class="span12">
                      <%= image_tag("hl2.png", class: "img")%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<!-- Footer -->
    <div class="bot1_wrapper">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="bot1 clearfix">
              <div class="row">
                <div class="span4 offset4">
                  <div class="phone1">
                  Call us for more information
                  </div>
                  <div class="phone2">
                  1 800 123 4567
                  </div>
                </div>

                <!-- Follow links -->
                <div class="span4">
                  <div class="follow1">
                  Follow Us
                  </div>
                  <div class="social_wrapper">
                    <ul class="social clearfix">

                      <li><a href="#"><%= image_tag("social_ic1.png")%></a></li>
                      <li><a href="#"><%= image_tag("social_ic2.png")%></a></li>
                      <li><a href="#"><%= image_tag("social_ic3.png")%></a></li>
                      <li><a href="#"><%= image_tag("social_ic4.png")%></a></li>
                      <li><a href="#"><%= image_tag("social_ic5.png")%></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bot2_wrapper">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="bot2 clearfix">
              <div class="row">
                <div class="span4">
                  <div class="piano1">
                    <%= image_tag("piano1.png")%>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>