<!DOCTYPE html>
<html>
<head>
  <title>Rockon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="iframelive" class="desktop">
  <div id="frameWrapper">
    <div class="px1"></div>
    <div id="main">
      <div id="inner">
        <div class="top1 clearfix">
          <header>
            <div class="logo_wrapper">
              <a class="logo">
                <%= image_tag("logo.png") %>
              </a>
            </div>
          </header>
        </div>
        <div class="top2_wrapper">
          <div class="container">
            <div class="row">
              <div class="span12">
                <div class="top2 clearfix">
                  <div class="menu_wrapper">
                    <div class="navbar navbar_">
                      <div class="navbar-inner navbar-inner_">
                        <div class="nav-collapse nav-collapse_ collapse">
                        <ul class="nav saf-menu clearfix sf-js-enabled">
                          <li><a href="#">HomePage</a></li>
                          <li><a href="#">AboutUs</a></li>
                          <li><a href="#">Lessons</a></li>
                          <li><a href="#">Teachers</a></li>
                          <li><a href="#">Gallery</a></li>
                          <li><a href="#">Music</a></li>
                          <li><a href="#">Contacts</a></li>
                        </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="supersized">
  <%= image_tag("bg1.jpg")%>
</div>
</body>
</html>
