<!DOCTYPE html>
<html>
<head>
  <title>Rockon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="iframelive" class="desktop">
  <div id="frameWrapper">
    <div class="px1"></div>
    <div id="main">
      <div id="inner">
        <div class="top1 clearfix">
          <header>
            <div class="logo_wrapper">
              <a class="logo">
                <%= image_tag("logo.png") %>
              </a>
            </div>
          </header>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="supersized">
  <%= image_tag("bg1.jpg")%>
</div>
</body>
</html>
