<!DOCTYPE html>
<html>
<head>
  <title>Rockon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main">
  <div class="px1"></div>
    <div id="inner">
      <div class="top1 clearfix">
        <header>
          <div class="logo_wrapper">
            <a class="logo">
              <%= image_tag("logo.png")%>
            </a>
          </div>
        </header>
        <div class="star1"></div>
      </div>
      <div class="top2_wrapper">
        <div class="container">
          <div class="row">
            <div class="span12">
              <div class="top2 clearfix">
                <div class="menu_wrapper">
                  <div class="navbar navbar_">
                    <div class="navbar-inner navbar-inner_">
                      <a class="btn btn-navbar btn-navbar_" data-target=".nav-collapse_" data-toggle="collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </a>
                      <div class="nav-collapse nav-collapse_ collapse">
                        <ul class="nav sf-menu clearfix sf-js-enabled">
                          <li><a href="#">HomePage</a></li>
                          <li><a href="#">About Us</a></li>
                          <li><a href="#">Lessons</a></li>
                          <li><a href="#">Teachers</a></li>
                          <li><a href="#">Gallery</a></li>
                          <li><a href="#">Music</a></li>
                          <li><a href="#">Contacts</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="slider_wrapper">
                  <div id="slider" class="clearfix">
                    <div id="camera_wrap">
                      <div data-src="assets/slide01.jpg">
                        <div class="camera_caption fadeIn">
                          <div class="txt1">Professional Staff</div>
                          <div class="txt2">enjoy working with youngster<br>as well as adults</div>
                        </div>
                      </div>
                      <div data-src="assets/slide02.jpg">
                        <div class="camera_caption fadeIn">
                          <div class="txt1">The Best</div>
                          <div class="txt2">comprehensive music<br>education program</div>
                        </div>
                      </div>
                      <div data-src="assets/slide03.jpg">
                        <div class="camera_caption fadeIn">
                          <div class="txt1">Professional Staff</div>
                          <div class="txt2">enjoy working with youngster<br>as well as adults</div>
                        </div>
                      </div>
                      <div data-src="assets/slide04.jpg">
                        <div class="camera_caption fadeIn">
                          <div class="txt1">Professional Staff</div>
                          <div class="txt2">enjoy working with youngster<br>as well as adults</div>
                        </div>
                      </div>
                    </div>
                  <%= image_tag("slider_shadow.png", class: "slider_shadow" )%>
                  <div class="hl1">
                    <%= image_tag("hl1.png", class: "img")%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div id="content">
        <div class="container">
          <div class="row">
            <div class="span12">
              <div class="slogan1">
                Our professional staff is experienced with beginning <br>through advanced instruction.
              </div>
              <div class="hl2">
                <div class="container">
                  <div class="row">
                    <div class="span12">
                      <%= image_tag("hl2.png", class: "img")%>
                    </div>
                  </div>
                </div>
              </div>
              <div class="banners">
                <div class="row">
                  <div class="span4 banner banner1">
                    <div class="banner_wrapper">
                      <a href="#">
                        <div class="banner_inner">
                          <div class="banner_inner2">
                            <%= image_tag("banner1.jpg", class: "img")%>
                            <div class="txt1">Piano Lessons</div>
                            <div class="txt2">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed</div>
                            <div class="txt3">Read more</div>
                          </div>
                        </div>
                        <%= image_tag("banner_shadow.png", class: "banner_shadow")%>
                      </a>
                    </div>
                  </div>
                  <div class="span4 banner banner1">
                    <div class="banner_wrapper">
                      <a href="#">
                        <div class="banner_inner">
                          <div class="banner_inner2">
                            <%= image_tag("banner2.jpg", class: "img")%>
                            <div class="txt1">Guitar Lessons</div>
                            <div class="txt2">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed</div>
                            <div class="txt3">Read more</div>
                          </div>
                        </div>
                        <%= image_tag("banner_shadow.png", class: "banner_shadow")%>
                      </a>
                    </div>
                  </div>
                  <div class="span4 banner banner1">
                    <div class="banner_wrapper">
                      <a href="#">
                        <div class="banner_inner">
                          <div class="banner_inner2">
                            <%= image_tag("banner3.jpg", class: "img")%>
                            <div class="txt1">Violin Lessons</div>
                            <div class="txt2">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed</div>
                            <div class="txt3">Read more</div>
                          </div>
                        </div>
                        <%= image_tag("banner_shadow.png", class: "banner_shadow")%>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content_wrapper">
                <div class="row">
                  <div class="span4">
                    <h2>Welcome</h2>
                    <div class="thumb1">
                      <div class="thumbnail clearfix">
                        <figure class="img-polaroid">
                          <%= image_tag("home01.jpg")%>
                        </figure>
                      </div>
                      <div class="caption">
                        <h3>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor.</h3>
                        <p>         Et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                      </div>
                    </div>
                  </div>
                  <div class="span4">
                    <h2>Why Choose Us</h2>
                    <ul class="ul1">
                      <li><a href="#">The best comprehensive music education program</a></li>
                      <li><a href="#">Musician Owned and Operated</a></li>
                      <li><a href="#">Fantastic performance opportunities and workshops</a></li>
                      <li><a href="#">35 years of experience</a></li>
                      <li><a href="#">Children classes</a></li>
                      <li><a href="#">State of art modern facility</a></li>
                    </ul>
                  </div>
                  <div class="span4">
                    <h2>Latest News</h2>
                    <div class="date1 clearfix">
                      <div class="txt1">24</div>
                      <div class="txt2">January</div>
                    </div>
                    <h3><a href="#">Suspendisse enim arcu</a></h3>
                    <p>   Mauris scelerisque augue eu felis. Nunc quam massa, mattis quis, hendrerit sed, mattis eu, est. Vivamus pretium metus ut nisl.  </p>
                  </div>
                </div>
              </div>
              <div class="hl2 hl2_2">
                <div class="container">
                  <div class="row">
                    <div class="span12">
                      <%= image_tag("hl2.png", class: "img")%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bot1_wrapper">
        <div class="container">
          <div class="row">
            <div class="span12">
              <div class="bot1 clearfix">
                <div class="row">
                  <div class="span4 offset4">
                    <div class="phone1">
                      Call us for more information
                    </div>
                    <div class="phone2">
                    1 800 123 4567
                    </div>
                  </div>
                  <div class="span4">
                    <div class="follow1">Follow us</div>
                    <div class="social_wrapper">
                      <ul class="social clearfix">
                        <li><a href="#"><%= image_tag("social_ic1.png")%></a></li>
                        <li><a href="#"><%= image_tag("social_ic2.png")%></a></li>
                        <li><a href="#"><%= image_tag("social_ic3.png")%></a></li>
                        <li><a href="#"><%= image_tag("social_ic4.png")%></a></li>
                        <li><a href="#"><%= image_tag("social_ic5.png")%></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bot2_wrapper">
        <div class="container">
          <div class="row">
            <div class="span12">
              <div class="bot2 clearfix">
                <div class="row">
                  <div class="span4">
                    <div class="piano1">
                      <%= image_tag("piano1.png", class: "img")%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div id="supersized">
	<%= image_tag("bg1.jpg", style: "width: 946px; height: 558.14.px;")%>
  </div>
</body>
</html>
