<!DOCTYPE html>
<html>
<head>
  <title>Rockon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>
<div id="supersized">
  <%= image_tag("bg1.jpg")%>
</div>
</body>
</html>
